.homepage-container{
    height: 100vh;
    border: 15px solid #230F0F;
    background-position: fixed;
}
.homepage-bg {
    height: 100%;
    background: 
        linear-gradient(
            rgba(255, 255, 255, 0.40),
            rgba(255, 226, 226, 0.4)
        ),
        url('../images/bg-test-2.png');
    background-position: 60% 65%;
    background-repeat: no-repeat;
    background-size: cover;
}
.welcome-container{
    height: 55%;
    width: 75%;

    font-family: DM serif display;
    font-size: 9vh;
    text-align: center;
}
.login-container{
    height: 30%;
    width: 75%;
}
.login-button{
    background-color: black;
    color: whitesmoke;
    font-size: 1.5vh;
    border-radius: 100px;
    padding: 2% 10%;
    transition: 0.2s;
}
.login-button:hover{
    background-color: darkslategray;
    color: whitesmoke;
    transition: 0.2s;
}
.thankyou-container{
    height: 10%;
    width: 75%;
    font-size: 0.7rem;
}

/****************** 
    MEDIA QUERIES
*******************/

/* IPHONE 6/7/8 */
/* Vertical View */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) {
        .login-button {
            font-size: 0.9rem;
        }
    }
/* Horizontal View */
@media only screen 
    and (device-width : 667px) 
    and (device-height : 375px) 
    and (-webkit-device-pixel-ratio : 2) {
        .login-button {
            font-size: 0.7rem;
        }
    }

/* IPHONE 6/7/8 PLUS*/
/* Vertical View */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) {
        .login-button{
            font-size: 0.7rem;
        }
    }
/* HORIZONTAL VIEW */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) {
        .login-button {
            font-size: 0.7rem;
        }
    }
/* IPHONE X */
/* Vertical View */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
        .login-button{
            font-size: 0.7rem;
        }
    }
/* HORIZONTAL VIEW */
@media only screen 
    and (device-width : 812px) 
    and (device-height : 375px) 
    and (-webkit-device-pixel-ratio : 3) {
        .login-button{
            font-size: 0.9rem;
        }
    }