h1 {
    font-size: 2rem;
}
.lets-cook-container{
    height: 100vh;
    border: 15px solid #230F0F;
    background-color: white;
    font-family: DM Sans Display;
    overflow: scroll;
    padding-top: 50px;
}
.recipe-title-container{
    font-family: DM Sans Display;
    padding: 0 15vw;
    width: 90%;
    min-width: 425px;
    max-width: 1000px;
}
.lets-cook-img-container {
    width: 100%;
    max-width: 425px;
}
.lets-cook-img{
    height: 280px;
    width: 425px;
    max-width: 425px;
    overflow: hidden;
    box-shadow: 0 0 8px grey;
    border-radius: 5px;
}
.recipe-instructions-container{
    height: 400px;
    width: 90%;
    min-width: 425px;
    max-width: 425px;
    box-sizing: border-box;
    font-family: DM Sans Display;
    cursor: all-scroll;
}
.recipe-instructions-container li {
    text-align: left;
}
.recipe-instructions-list {
    height: 85%;
    overflow: scroll;
}
.lets-cook-buttons {
    width: 90%;
}
.lets-cook-buttons button{
    height: 25px;
    width: 175px;
    padding: 0px;
}
/****************** 
    MEDIA QUERIES
*******************/

/* IPHONE 6/7/8 */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) {
        .lets-cook-container {
            padding-top: 75px;
        }
        .recipe-title-container{
            font-family: DM Sans Display;
            padding: 0px;
        }
        .lets-cook-img-container {
            width: 90%;
            max-width: 90%;
        }
        .lets-cook-img {
            height: 175px;
            width: 100%;
        }
        .recipe-instructions-container{
            height: 250px;
            min-width: 90%;
        }
        .lets-cook-buttons button{
            width: 145px;
        }
        hr {
            background-color: black;
        }
    }

/* IPHONE 6/7/8 PLUS */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) {
        .lets-cook-container {
            padding-top: 75px;
        }
        .recipe-title-container{
            font-family: DM Sans Display;
            padding: 0px;
        }
        .lets-cook-img-container {
            width: 90%;
            max-width: 90%;
        }
        .lets-cook-img {
            height: 175px;
            width: 100%;
        }
        .recipe-instructions-container{
            height: 250px;
            min-width: 90%;
        }
        .lets-cook-buttons button{
            width: 145px;
        }
        hr {
            background-color: black;
        }
    }

/* IPHONE X */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
        .lets-cook-container {
            padding-top: 75px;
        }
        .recipe-title-container{
            font-family: DM Sans Display;
            padding: 0px;
        }
        .lets-cook-img-container {
            width: 90%;
            max-width: 90%;
        }
        .lets-cook-img {
            height: 175px;
            width: 100%;
        }
        .recipe-instructions-container{
            height: 250px;
            min-width: 90%;
        }
        .lets-cook-buttons button{
            width: 145px;
        }
        hr {
            background-color: black;
        }
    }