.confirm-ingredients-container{
    height: 100vh;

    border: 15px solid black;
    background-color: #E4D4BA;

    overflow: scroll;
}
.confirm-ingredients-description {
    border: 1px solid black;
    height: 20vh;
    width: 90%;

    font-family: DM Sans Display;

}
.confirm-ingredients-content {
    height: 40vh;

    width: 90%;

    background-color: white;

    box-shadow: 0 0 25px grey;
    border-radius: 25px;
}