.confirmed-recipe{
    height: 300px;
    width: 350px;
    min-width: 350px;

    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 8px grey;
    overflow: hidden;
}
.confirmed-recipe button {
    height: 30px;
    font-size: 0.8rem;
}


.recipe-top-container {
    height: 70%;
    width: 100%;
    overflow:hidden;
}
.recipe-bottom-container {
    height: 30%;
    width: 100%;
}
.recipe-image {
    background-size: 100% 100%;
    background-position: 50% 100%;
}
