.confirm-ingredients-container{
    height: 100vh;
    padding: 20px 0px;
    background-color: #E4D4BA;
    overflow: scroll;
}
.confirm-ingredients-description {
    height: 150px;
    width: 80%;
    min-width: 425px;
    max-width: 750px;
    font-family: DM Sans Display;
    font-size: 1.8rem; 
}
.confirm-ingredients-content {
    padding: 25px 0px;
    height: 350px;
    min-height: 350px;
    max-height: 350px;
    width: 80%;
    min-width: 425px;
    max-width: 750px;
    background-color: white;
    box-shadow: 0 0 8px grey;
    border-radius: 10px;
    font-family: DM Serif Display;
}

.build-ingredients-return-search{
    height: 175px;
    width: 90%;
    min-width: 425px;
    max-width: 750px;
    border: 5px solid black;
}

/****************** 
    MEDIA QUERIES
*******************/

/* IPHONE 6/7/8 */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) {
        .confirm-ingredients-description {
            font-size: 3rem;
            min-height: 250px;
            margin-bottom: 0px;
        }
        .confirm-ingredients-content {
            margin-top: 0px;
            min-height: 850px;
            display: flex;
            justify-content: space-between;
        }
    }

@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3){
        .confirm-ingredients-description {
            min-height: 250px;
            font-size: 3rem;
            margin-bottom: 0px;
        }
        .confirm-ingredients-content {
            margin-top: 0px;
            min-height: 850px;
            display: flex;
            justify-content: space-between;
        }
    }

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
        .confirm-ingredients-description {
            font-size: 3rem;
            min-height: 300px;
            margin-bottom: 0px;
        }
        .confirm-ingredients-content {
            margin-top: 0px;
            min-height: 1000px;
            display: flex;
            justify-content: space-between;
        }
    }