.btn {
    background-color: black;
    color: white;
    border-radius: 45px;
}
.btn:hover{
    color: grey;
}
.dashboard-container{
    height: 100vh;
    padding: 20px 0px;
    border: 15px solid #230F0F;
    background-color: #E4D4BA;
    overflow: scroll;
}
.welcome-back-container{
    min-height: 150px;
    max-height: 150px;
    width: 80%;
    min-width: 425px;
    max-width: 750px;
    font-size: 2.5rem;
    letter-spacing: -0.05rem;
}
.welcome-back-container-image{
    height: 70%;
}
.welcome-back-container-description {
    font-family: DM Serif Display;
}
.find-ingredients-container{
    padding: 25px 0px;
    min-height: 225px;
    max-height: 225px;
    width: 90%;
    min-width: 425px;
    max-width: 750px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 8px grey;
    font-family: DM Serif Display;
    font-size: 1.8rem;
}
.favorite-recipes-container {
    height: 575px;
    width: 90%;
    min-width: 425px;
    max-width: 750px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 8px grey;
    font-family: DM Serif Display;
    font-size: 1.8rem;
}

.carousel-container {
    height: 300px;
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: row;
}
.carousel {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.image-slide {
    height: 100%;
    width: 300px;
}
.img-title-container {
    height: 100%;
    padding: 0px;
}
.arrow {
    display: flex;
    justify-content: space-around;
    padding: 125px 0px;
}
/****************** 
    MEDIA QUERIES
*******************/

/* IPHONE 6/7/8 */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) {
        .btn {
            font-size: 2.3rem;
            padding: 15px 55px;
            border-radius: 45px;
        }
        h1 {
            font-size: 4rem;
            font-weight: bold;
        }
        .welcome-back-container {
            min-height: 350px;
        }
        .welcome-back-container-description {
            font-size: 4rem;
        }
        .find-ingredients-container {
            min-height: 550px;
            border-radius: 25px;
            font-size: 3rem;
        }
        .favorite-recipes-container {
            border-radius: 25px;
            min-height: 850px;
        }
    }

/* IPHONE 6/7/8 PLUS */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) {
        .btn {
            font-size: 2.3rem;
            padding: 15px 55px;
            border-radius: 45px;
        }
        h1 {
            font-size: 4rem;
            font-weight: bold;
        }
        .dashboard-container {
            padding: 50px 0px;
        }
        .welcome-back-container{
            min-height: 350px;
            border-radius: 25px;
        }
        .welcome-back-container-description {
            font-size: 4rem;
        }
        .find-ingredients-container {
            min-height: 550px;
            border-radius: 25px;
            font-size: 3rem;
        }
        .favorite-recipes-container {
            border-radius: 25px;
            min-height: 800px;
        }
    }

/* IPHONE X */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
        .btn {
            font-size: 2.3rem;
            padding: 15px 55px;
        }
        h1 {
            font-size: 4rem;
            font-weight: bold;
        }
        .welcome-back-container{
            min-height: 350px;
        }
        .welcome-back-container-description{
            font-size: 3.5rem;
        }
        .find-ingredients-container {
            min-height: 500px;
            font-size: 3rem;
            border-radius: 25px;
        }
        .favorite-recipes-container {
            min-height: 900px;
            border-radius: 25px;
        }
    }