.favorite-recipes-component-container {
    height: 100vh;
    border: 15px solid black;
    background-color: #E4D4BA;
    overflow: scroll;
}

.favorite-recipes-component-title {
    width: 90%;
    height: 25;
    font-family: DM Sans Display;
}

.favorite-recipe-component-back-to-dashboard {
    height: 5%;
    width: 90%;
}