.find-ingredients-component-container{
    height: 100vh;
    border: 15px solid black;

    background-position: fixed;
    background-color: #E4D4BA;

    font-family: DM Sans Display;

    overflow: scroll;
}

.search-ingredients-container{
    height: 65vw;
    min-height: 500px;
    max-height: 650px;
    width: 90%;

    background-color: white;
    border-radius: 25px;
}

.ingredients-to-use-container {
    min-height: 35vw;
    width: 90%;
    background-color: white;
    border-radius: 25px;
}