.find-ingredients-component-container{
    height: 100vh;
    border: 15px solid black;
    background-position: fixed;
    background-color: #E4D4BA;
    font-family: DM Sans Display;
}
.search-ingredients-container{
    height: 75vh;
    min-height: 500px;
    width: 90%;
    background-color: white;
    box-shadow: 0 0 25px grey;
    border-radius: 25px;
    overflow: hidden;
}
.ingredients-to-use-container {
    min-height: 75vh;
    height: 80%;
    width: 90%;
    box-shadow: 0 0 25px grey;
    background-color: white;
    border-radius: 25px;
}
.ingredients-to-use-map-section {
    max-height: 70%;
}