.find-ingredients-component-container{
    height: 100vh;
    border: 15px solid black;

    background-position: fixed;
    background-color: #E4D4BA;

    font-family: DM Sans Display;

    overflow: scroll;
}

.search-ingredients-container{
    height: 75vh;
    width: 90%;

    background-color: white;
    border-radius: 25px;
}

.search-ingredients-search-bar{

}