.homepage-container{
    height: 100vh;
    border: 15px solid black;
    background-position: fixed;
}
.homepage-bg {
    height: 100%;
    background: 
        linear-gradient(
            rgba(255, 255, 255, 0.40),
            rgba(255, 226, 226, 0.4)
        ),
        url('../images/recipebuilder-login.jpeg');
    background-position: 60% 20%;
    /* background-position: fixed; */
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
}
.welcome-container{
    height: 55%;
    width: 75%;

    font-family: DM serif display;
    font-size: 9vh;
    text-align: center;
}
.login-container{
    height: 30%;
    width: 75%;


}
.login-button{
    background-color: black;
    color: whitesmoke;
    font-size: 1.5vh;
    border-radius: 100px;
    padding: 2% 10%;
    transition: 0.2s;
}
.login-button:hover{
    background-color: darkslategray;
    color: whitesmoke;
    transition: 0.2s;
}
.thankyou-container{
    height: 10%;
    width: 75%;
    font-size: 2vh;
}