.homepage-container{
    height: 100vh;
    /* background-color: lightblue; */
}
.homepage-bg {
    height: 100%;
    background: 
        linear-gradient(
            rgba(255, 255, 255, 0.40),
            rgba(255, 226, 226, 0.4)
        ),
        url('../images/recipebuilder-login.jpeg');
    background-position: 60% 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-container{

    height: 55%;
    width: 75%;
    margin: 5% auto;

    font-family: DM serif display;
    /* font-weight: bold; */
    font-size: 10vh;
    /* line-height: 150%; */
    text-align: center;
}