.lets-cook-container{
    height: 100vh;
    border: 15px solid black;
    background-color: white;
    font-family: DM Sans Display;
    overflow: scroll;
}
.recipe-title-container{
    font-family: DM Sans Display;
    font-size: 1.5rem;
    padding: 0 15vw;
    width: 90%;
    min-width: 425px;
    max-width: 1000px;
}
.lets-cook-img-container {
    width: 90%;
    min-width: 425px;
    max-width: 750px;
}
.lets-cook-img{
    height: 280px;
    min-width: 425px;
    max-width: 425px;

    overflow: hidden;
    box-shadow: 0 0 8px grey;
    border-radius: 8px;
}
.img-container {
    /* overflow: hidden; */
    position: relative;
}
.recipe-instructions-container{
    height: 45%;
    font-family: DM Sans Display;
}
.recipe-instructions-list {
    height: 90%;
    overflow: scroll;
}

/****************** 
    MEDIA QUERIES
*******************/

/* IPHONE 6/7/8 */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) {
        .recipe-title-container{
            font-family: DM Sans Display;
            font-size: 4rem;
            padding: 0px;
        }
        .lets-cook-img-container {
            width: 90%;
            min-width: 425px;
            max-width: 750px;
            
        }
    }

/* IPHONE 6/7/8 PLUS */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) {
        .recipe-title-container{
            font-family: DM Sans Display;
            font-size: 4rem;
            padding: 0px;
        }
    }

/* IPHONE X */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
        .recipe-title-container{
            font-family: DM Sans Display;
            font-size: 4rem;
            padding: 0px;
        }
    }