.recommended-recipes-container{
    height: 100vh;
    border: 15px solid #230F0F;
    background-color: #E4D4BA;
    font-family: DM Sans Display;
    overflow: scroll;
}
.recommended-recipes-content-container {
    height: 150px;
    width: 90%;
    min-width: 425px;
    max-width: 750px;
    font-family: DM Display;
    font-size: 1.5rem;
}
.recomended-recipes-confirmed-recipe-container {
    min-height: 300px;
    width: 90%;
    min-width: 425px;
    box-sizing: border-box;
    justify-content: space-around;
}

/****************** 
    MEDIA QUERIES
*******************/

/* IPHONE 6/7/8 */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) {
        .recommended-recipes-content-container {
            height: 215px;
            font-size: 2.5rem;
        }
        .recomended-recipes-confirmed-recipe-container {
            padding: 25px;
        }
    }

@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) {
        .recommended-recipes-content-container {
            height: 215px;
            font-size: 2.5rem;
        }
    }

/* IPHONE X */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
        .recommended-recipes-content-container {
            height: 215px;
            font-size: 2.5rem;
            margin: 75px auto;
        }
    }